*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
}

.ana{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: #EEFBFB;
}

.ana header .logo h2 a{
    display: block;
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
    color: #007CC7;
}

.ana header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 30px;
}


.main-width{
    width: 1400px;
    max-width: 95%;
    margin: 0 auto;
}

nav ul li{
    list-style: none;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: #252525;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: .3s;
}

nav ul li:not(:last-child) a:hover,
nav ul li:not(:last-child) a:focus{
    border-bottom: 1px solid #252525;
}

nav ul li.active a{
    border-bottom: 2px solid #252525;
}

nav ul li.btn a{
    background: transparent;
    color: #252525;
    border: 1px solid #252525;
    padding: 9px 20px;
    border-radius: 5px;
    line-height: 1.3;
    font-size: 14px;
    font-weight: 500;
    margin-left: 150px;
}

nav ul li.btn:hover a{
    border: 1px solid #007CC7;
    color: white;
    background-color: #007CC7;
    transition: .4s;
}

.content{
    padding-top: 140px;
}

.content .main-text{
    position: relative;
    z-index: 2;
    margin-bottom: 50px;
}

.content .main-text h6{
    font-size: 14px;
    font-weight: 400;
    color: #252525;
    margin-bottom: 40px;
}

.content .main-text h1{
    font-size: 70px;
    line-height: 1;
    color: #252525;
    margin: 0px 0px 45px;
    font-family: 'Staatliches', sans-serif;
}

.content .main-text h3{
    margin: 0px 0px 35px;
    font-size: 18px;
    font-weight: 600;
    color: #252525;
}

.content .main-text p{
    max-width: 100%;
    width: 480px;
    color: #252525;
    line-height: 1.7;
    font-size: 15px;
    margin-bottom: 50px;
}

.content .main-text a{
    display: inline-block;
    text-decoration: none;
    color: #252525;
    background: #EEFBFB;
    border: 1px solid #252525;
    padding: 9px 25px;
    line-height: 1.3;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
}

.content .main-text a:hover{
    transform: scale(1.2);
    border: 1px solid #252525;
    background: transparent;
    color: #252525;
    transition: .4s;
}

.content .main-text a.cta{
    border: 1px solid #252525;
    color: #252525;
    background: transparent;
    margin-left: 20px;
}

.content .main-text a.cta i{
    margin-right: 10px;
}

.content .main-text a.cta:hover{
    color: white;
    background: #007CC7;
    border: 1px solid white;
    transition: .4s;
}

.content .sosyal{
    position: relative;
    z-index: 2;
    margin-top: 200px;
    padding-bottom: 40px;
}

.content .sosyal a{
    display: inline-block;
    color: #252525;
    margin-right: 25px;
    font-size: 24px;
}

.content .sosyal a:hover{
    transform: scale(1.2);
    transition: .4s;
    color: #007CC7;
}

.copy-right-sec{
    font-size: 15px;
    padding: 0.8rem;
    background: #ffff;
    color: #252525;
    text-align: center;
}

.resim{
    position: absolute;
    width: 100%;
    height: 85%;
    bottom: 0;
    right: 0;
    text-align: right;
}

.resim img{
    height: 100%;
}

